@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="jumbotron">
        <h1>Vehicle Catalog</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Welcome to MVC test project</h2>
            <p>
                Project task is:<br />
                &nbspMake administration view (CRUD with Sorting, Filtering & Paging)<br />
                &nbspModel administration view (CRUD with Sorting, Filtering & Paging)<br />
                &nbspFiltering by Make
            </p>
        </div>
        <div>
            <ul>
                <li>Link to VehicleMakes page: @Html.ActionLink("VehicleMakes", "Index", "VehicleMake")</li>
                <li>Link to VehicleModels page: @Html.ActionLink("VehicleModels", "Index", "VehicleModel")</li>
            </ul>
        </div>
        
    </div>
</main>